<div class="trillo-form" name="F1" nm="F1" style="width: 300px; padding: 10px;">
  <form data-container="" class="">
    <div data-component="text" class="form-group">
      <label data-label="">Text_3</label>
      <input data-field="" type="text" class="form-control" nm="Text_3">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="">Text_2</label>
      <input data-field="" type="text" class="form-control" nm="Text_2">
    </div>
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error"></small>
  <small class="form-text text-muted trillo-display-none js-field-message"></small>
</div>
